#custom-llm-usage {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 500;
}

#custom-llm-usage span {
  padding: 0 2px;
}

#custom-llm-usage tooltip {
  font-family: 'MesloLGL Nerd Font Mono';
  font-size: 12px;
}
